set -e
DIR=`pwd`

if [ -f "../.envrc" ]; then
source_up
fi

export RUST_LOG=debug,supervisor=warn,hyper=warn,rustls=warn,h2=warn,tower=warn,reqwest=warn,h3=warn,quinn_udp=warn

bin=$DIR/.direnv/bin
PATH_add $bin
bun_i .
