set -e

DIR=`pwd`

PATH_add $DIR/.direnv/bin

if [ -f '.env' ]; then
set -o allexport
source ./.env
set +o allexport
fi


init() {
if [ -f "package.json" ]; then
  if [ ! -d $DIR/$1/node_modules ]; then
    if ! [ -x "$(command -v pnpm)" ]; then
      npm install -g pnpm
    fi
    cd $DIR/$1
    pnpm i
    cd $DIR
  fi
fi
}

init .
