source_up
./fly.config.sh
set -o allexport
source ../../conf/env/warnSmtp.sh
source ../../conf/env/wxpush.sh
source ../../conf/env/lark.sh
source ../../conf/env/warn_mail.sh
source ../../conf/env/alive.sh
source ../../conf/env/healthchecks.sh
source ../../conf/env/ipv6_proxy.sh
source ../../conf/env/ipv6_proxy_test.sh
set +o allexport
